body {
  background-color: rosybrown;
  color: bisque;
  /* position: absolute; */
  min-height: 100%;
}
header {
  border-bottom: 5px double bisque;
  position: relative;
}
header ul {
  width: 45%;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: auto;
}
header ul li {
  border: solid;
  padding: 3%;
  border-radius: 5px;
}
header ul li:hover {
  transform: scale(1.5);
  opacity: 0.7;
}
.input {
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
}
.input .search {
  font-size: 25px;
  text-align: center;
  background-color: bisque;
}
.fa-cross {
  font-size: 285%;
}
.search-btn {
  font-size: 25px;
}
.search-btn:hover {
  opacity: 0.5;
}
.input .search:hover {
  opacity: 0.5;
}
img {
  width: 94%;
  height: 78%;
}
.sample {
  display: flex;
  justify-content: center;
  font-size: 20px;
  width: 73%;
  margin: 125px auto;
}
.sample .btn1 {
  width: 22%;
  padding: 10px;
  border-radius: 25px;
  border: 5px solid bisque;
  display: block;
  text-align: center;
  height: 410px;
}
.sample .btn1:hover {
  transform: scale(1.1);

  opacity: 0.5;
}
button {
  background-color: bisque;
}

.verse h1 {
  text-align: center;
}
.verse .verse-btn {
  font-size: 125%;
  display: flex;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: bisque;

  margin: auto;
}
.verse-btn:hover {
  transform: scale(1.1);
  opacity: 0.7;
}
.about {
  /* border: 5px solid firebrick;
  border-radius: 15px; */
  font-size: 25px;
  text-align: left;
  padding-bottom: 15%;
  width: max-content;
  margin: auto;
}
.Input-prayer {
  justify-content: center;
  display: flex;
  padding-top: 117px;
  padding-bottom: 100px;
}
.Input-prayer .prayer-request {
  font-size: x-large;
}

footer ul {
  border-top: 5px double bisque;
  list-style: none;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer ul li:hover {
  transform: scale(1.2);
}
a {
  color: blanchedalmond;
}

@media screen and (max-width: 412%) {
}
